################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AwsTraining/.vs/AwsTraining
/AwsTraining/AwsLambda/BMICalculator/obj/Debug/netcoreapp2.1
/AwsTraining/AwsLambda/BMICalculator/obj
/AwsTraining/AwsLambda/BMICalculator.Tests/bin/Debug/netcoreapp2.1
/AwsTraining/AwsLambda/BMICalculator.Tests/obj
/AwsTraining/AwsLambda/BMICalculator/bin/Debug/netcoreapp2.1
/AwsTraining/old/AwsLambda
/AwsTraining/AwsLambda/BMICalculator/bin/Release/netcoreapp2.1
/AwsTraining/AwsLambda/obj/Release/netcoreapp2.1
/AwsTraining/AwsLambda/BMICalculator/bin/Release/netcoreapp2.1
/AwsTraining/.cr/personal
